<a
  *ngIf="publication.href"
  [href]="publication.href"
  target="_blank"
>
  <div *ngTemplateOutlet="cardTemplate"></div>
</a>

<a
  *ngIf="publication.routerLink"
  [routerLink]="publication.routerLink"
>
  <div *ngTemplateOutlet="cardTemplate"></div>
</a>



<ng-template #cardTemplate>
  <mat-card>
    <mat-card-header>
      <img
        *ngIf="publication.imageUrl"
        mat-card-avatar
        [src]="publication.imageUrl"
      >
      <mat-icon
        inline="true"
        mat-card-avatar
        *ngIf="publication.matIcon"
      >{{publication.matIcon}}</mat-icon>
      <mat-card-title><span *ngIf="publication.set">{{publication.set}}: </span>{{publication.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="publication.date">{{publication.date | date: 'mediumDate'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{publication.desc}}
    </mat-card-content>
  </mat-card>
</ng-template>
