<div class="contianer">
  <h1>Hello World!</h1>

  <p>Writing code by day and sci-fi by night. Click the links below to learn more!</p>

  <div fxLayoutAlign="center">
    <app-publication-list [publications]="links"></app-publication-list>
  </div>
</div>
