h1, h2, p {
  font-family: "Comic Sans", monospace;
}
h1 {
  font-size: xxx-large;
  display: inline;
  line-height: 45px;
}
h2 {
  font-size: xx-large;

}
h2::before {
  content: '> '
}

.charts h2 {
  display: inline;
}

.container {
}

a mat-icon {
  padding-right: 5px;
}

.section {
  padding-bottom: 20px; // TODO: Determine why fxLayoutGap fails.
}

