<div
  fxLayout="column"
  fxFlex="fill"
  class="container scroll-y"
  fxLayoutGap="30px"
>

  <div
    fxFlex
    fxLayout="row"
  >
    <h1 fxFlex>Chris' Writing</h1>

    <span
      fxFlex
      fxLayoutAlign="end start"
    >
      <a
        mat-flat-button
        color="accent"
        href="https://docs.google.com/forms/d/1MJFBS329s3MpG3GybrGsokbVivr1kpqr6SpNJr-kJ5k/"
      >
        <mat-icon>rss_feed</mat-icon>
        <span>Subscribe for Updates</span>
      </a>
    </span>
  </div>

  <div
    class="scroll-y"
    fxFlex="fill"
    fxLayout="column"
    fxLayoutGap="20px;"
  >
    <div class="section">
      <h2>Stories Available Now</h2>

      <div fxLayout="row">
        <app-publication-list
          [publications]="publications"
          layoutDir="row"
          orderBy="date"
        ></app-publication-list>
      </div>
    </div>

    <div
      fxFlex
      class="charts"
      fxLayout="column"
    >

      <h2>Writing Progress</h2>

      <div
        fxFlex
        fxLayout="column"
        fxLayoutGap="30px"
      >

        <div
          fxLayoutAlign="center center"
          fxFlex="nogrow"
          fxLayout.lt-md="column"
        >
        </div>
        <!-- Duration vs. Word Count -->
        <iframe
          width="600"
          height="371"
          seamless
          frameborder="0"
          scrolling="no"
          src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQIMDPpcnsIRGWYD6u8wEndo_zF1Nt8MRvanIP3Pavz_B4wqkZtM7W_4aHca2tXEZKdT4VTIA6Wyvrd/pubchart?oid=189365896&amp;format=interactive"
        ></iframe>

        <!-- Words/day -->
        <iframe
          width="600"
          height="371"
          seamless
          frameborder="0"
          scrolling="no"
          src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQIMDPpcnsIRGWYD6u8wEndo_zF1Nt8MRvanIP3Pavz_B4wqkZtM7W_4aHca2tXEZKdT4VTIA6Wyvrd/pubchart?oid=420851455&amp;format=interactive"
        ></iframe>
      </div>
      <div>
        <span fxFlex></span>
        <a
          mat-flat-button
          color="primary"
          href="https://docs.google.com/spreadsheets/d/1kXa3_vsuNn3lJpjxch_AXol3Gmk2ttSDZOQbTlxYeyA"
        >
          <mat-icon>table_chart</mat-icon>
          <span>View Full Log</span>
        </a>
      </div>
    </div>
  </div>
</div>
