<div
  class="container"
  fxFlex="fill"
  fxLayout="column"
  style="overflow: hidden"
>
  <mat-toolbar fxFlex="nogrow">
    <a routerLink="/home">Chris Backofen</a>

    <span fxFlex></span>

    <a
      *ngFor="let link of links"
      mat-button
      [routerLink]="link.routerLink"
    >
      <mat-icon fxShow.lt-sm="true">{{link.matIcon}}</mat-icon>
      <span fxShow.lt-sm="false">{{link.label}}</span>
    </a>

    <button
      mat-button
      (click)="openResume()"
    >
      <mat-icon fxShow.lt-sm="true">contact_page</mat-icon>
      <span fxShow.lt-sm="false">Resume</span>
    </button>

  </mat-toolbar>

  <div
    class="outletContainer"
    fxFlex="fill"
  >
    <router-outlet></router-outlet>
  </div>

</div>
