<div
  class="container"
  fxFlex="fill"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <div fxFlex="nogrow">
    <h1>I'm a Software Engineer!</h1>
    <p>I gush about Agile, DevOps, UI frameworks, and Design Patterns. Here's some neat stuff for you.</p>
  </div>

  <div
    fxFlex="fill"
    class="content"
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayout.lt-md="column"
  >

    <div fxFlex>
      <h2>Software & Papers</h2>
      <app-publication-list
        layoutDir="column"
        [publications]="items"
      ></app-publication-list>
    </div>

    <div
      fxFlex
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <div fxFlex="nogrow" class="section">
        <h2>Professional Links</h2>
        <app-publication-list
          [publications]="professionalItems"
          layoutDir="column"
        ></app-publication-list>
      </div>

      <div fxFlex="nogrow">
        <h2>Cool Stuff that's Not Mine</h2>
        <app-publication-list
          [publications]="externalItems"
          layoutDir="column"
        ></app-publication-list>

      </div>
    </div>
  </div>
</div>
